.parallax-container {
  position: relative;
  height: 100vh;
  background: linear-gradient(#2b1055, #7597de);
  overflow: hidden;
  .parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    pointer-events: none;
  }
}

.moon {
  mix-blend-mode: screen;
}

.stars {
}

.placeholder {
  height: 100vh;
  background-color: black;
}
