// VARIABLES
$translucent-white: rgb(255, 255, 255, 0.8);
$opaque-white: #ffffff;
$light-purple: #b1a4d3;
$shadow-purple: #1e1431;
$med-warm-purple: #734588;
$light-warm-purple: #b984d2;
$soft-mauve: #a16178;

$night-gradient: linear-gradient(#2b1055 0%, #7597de);

$text-color: $translucent-white;
$highlight-color: $opaque-white;
$title-font: "Comfortaa", cursive;
$flavour-font: "Lobster", cursive;
$body-font: "Inter", sans-serif;
$block-font: "Lexend Peta", sans-serif;
$time-font: "Rajdhani", sans-serif;

$main-background: $shadow-purple;

// GENERAL
h1 {
  font-family: $flavour-font;
  color: $text-color;
}
h2 {
  font-family: $title-font;
  color: #000000b6;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 1.8rem;
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 2.5rem;
  }
  @media only screen and (min-width: 1025px) {
    font-size: 3rem;
  }
}
h3 {
  font-family: $time-font;
  font-size: 1.5rem;
  color: #000000b6;
}
p {
  font-family: $body-font;
  color: rgb(55, 55, 55);
}
body {
  background-color: $shadow-purple;
}
ul {
  list-style-type: none;
}
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
button {
  border: none;
  font: inherit;
  font-family: inherit;
  cursor: pointer;
}

// REUSABLE
.card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #ffffff45;
  border: 4px solid #ffffff70;
}
.wave {
  width: 100%;
}
.wave svg {
  height: auto;
  width: 100%;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    width: 300%;
  }
}
.contact-icons {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 3rem 0;
  gap: 1rem;
  li {
    a {
      width: 2.5rem;
    }
    display: flex;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
  }
}

// LANDING
.landing {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: $shadow-purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .spinner {
    color: $text-color;
    font-size: 2rem;
  }
}

// NAV
.nav-wrapper {
  position: fixed;
  top: 0;
  color: $text-color;
  width: 100%;
  z-index: 6;
}
.nav-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  height: 100%;
  padding: 2rem 3rem;
  font-family: $flavour-font;
  max-width: 1800px;
  z-index: 7;
  transition: transform 0.5s ease;
  transform: translateY(0);
  .left-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      font-size: 2rem;
      padding-top: 0.3rem;
    }
    .logo:hover {
      color: $highlight-color;
      transition: all 0.4s;
    }
  }
  .hamburger-react:hover {
    color: $highlight-color;
  }
}
.nav-bar.hidden {
  transform: translateY(-100%);
}

// HAMBURGER MENU
.menu-wrapper {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 30%;
  transition: transform 0.5s ease;
  transform: translateY(0);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.65);
  border-left: 4px solid rgba(255, 255, 255, 0.45);
  z-index: 6;
  @media only screen and (min-width: 320px) and (max-width: 1024px) {
    width: 100%;
    border: none;
    background-color: rgb(129, 111, 137);
  }
}
.menu-wrapper.hidden {
  transform: translateX(100%);
}
.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  .menu-item {
    text-align: center;
    font-family: $title-font;
    font-weight: 700;
    font-size: 2rem;
  }
  .close {
    font-size: 1.5rem;
    cursor: pointer;
  }
}

// HERO
.parallax-wrapper {
  position: relative;
  top: 0;
  width: 100%;
  height: 1000px;
  overflow: hidden;
  background: $night-gradient;
}
.parallax-container {
  .parallax-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
    object-fit: cover;
    min-width: 100%;
  }
  .moon {
    mix-blend-mode: screen;
    top: 0;
  }
  .welcome {
    height: 1000px;
    opacity: 0.9;
    svg {
      position: absolute;
      @media only screen and (min-width: 320px) and (max-width: 767px) {
        right: 3rem;
        top: 40%;
        width: 15rem;
      }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        right: 20%;
        top: 50%;
        width: 18rem;
      }
      @media only screen and (min-width: 1025px) {
        right: auto;
        left: 47%;
        top: 50%;
        width: 22rem;
      }
    }
  }
}
.parallax-container::before {
  // Gradient overlay
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(30, 20, 49, 255), transparent);
  z-index: 1;
}

@-webkit-keyframes svg-text-anim {
  // Welcome SVG animation
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
}
@keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
}

// INTRO
.intro {
  background-color: $shadow-purple;
  color: $text-color;
  position: relative;
  overflow: hidden;
  h1,
  h2 {
    color: $text-color;
  }
  .intro-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin: auto;
    .intro-body {
      display: flex;
      flex-direction: column;
    }
    .typewriter {
      display: flex;
      align-items: center;
      .typed {
        text-align: center;
        color: #d09baf;
        margin-left: 0.7rem;
      }
    }
    .heart {
      font-size: 3rem;
      color: #d09baf;
      width: 100%;
      margin: 2rem 0;
    }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      width: 80%;
      h1 {
        font-size: 2.5rem;
        line-height: 2rem;
        margin: 2rem 0;
      }
      h2 {
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 2rem;
        margin: 0.7rem 0;
      }
      .typed {
        min-width: 4.5rem;
        font-weight: 700;
      }
      .upper {
        display: none;
      }
      .contact-icons {
        justify-content: center;
      }
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      width: 80%;
      padding-top: 6rem;
      align-items: center;
      .intro-body {
        align-items: center;
      }
      h1 {
        font-size: 4rem;
        margin: 2rem 0;
      }
      h2 {
        font-size: 2rem;
        font-weight: 400;
        margin: 0.8rem 0;
        text-align: center;
      }
      .typed {
        min-width: 6.6rem;
        font-weight: 700;
      }
      .heart {
        font-size: 5rem;
      }
      .upper {
        display: none;
      }
    }
    @media only screen and (min-width: 1025px) {
      width: 70%;
      height: 40rem;
      padding-top: 6rem;
      .intro-title {
        display: flex;
        align-items: center;
      }
      .intro-body {
        margin-left: 9.5rem;
      }
      h1 {
        font-size: 4rem;
      }
      h2 {
        font-size: 1.8rem;
        font-weight: 300;
        margin: 0.3rem;
      }
      .typed {
        min-width: 5.9rem;
        font-weight: 700;
      }
      .heart {
        width: 10rem;
        font-size: 5rem;
      }
      .lower {
        display: none;
      }
    }
  }
  .glow {
    z-index: 0;
    position: absolute;
    top: 10%;
    right: 10%;
    width: 80%;
    max-width: 60rem;
    opacity: 0.4;
    @media only screen and (min-width: 320px) and (max-width: 599px) {
      width: 100%;
      right: 0;
    }
    @media only screen and (min-width: 600px) and (max-width: 767px) {
      width: 90%;
      right: 0;
      top: auto;
      bottom: 0;
    }
  }
}

// ABOUT
.about {
  width: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom, #d09baf, #ffeab4);
  .about-content {
    margin: 0 auto 4rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .card-container {
      display: flex;
      justify-content: center;
      gap: 2rem;
    }
    .card {
      gap: 1rem;
      time {
        font-family: $time-font;
        font-weight: 700;
        font-size: 1.2rem;
        color: $soft-mauve;
      }
      h3 {
        color: #631d36;
      }
      p {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.1rem;
        margin: 0.6rem 0;
      }
    }
    .about-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
    .photo {
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      margin: 2rem;
      border: 4px solid #ffffff70;
    }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      width: 100%;
      h2 {
        margin: 1rem;
      }
      .card-container {
        flex-direction: column;
        .card {
          width: 90%;
          margin: auto;
          padding: 2rem;
          h3 {
            line-height: 1.5rem;
          }
        }
      }
      .photo {
        width: 70%;
        height: auto;
      }
      .photo.bottom {
        display: none;
      }
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      width: 100%;
      h2 {
        margin: 2rem;
      }
      .card-container {
        flex-direction: column;
        .card {
          width: 90%;
          margin: auto;
          padding: 3rem;
        }
      }
      .photo {
        width: 50%;
        height: auto;
      }
      .photo.bottom {
        display: none;
      }
    }
    @media only screen and (min-width: 1025px) {
      width: 90%;
      h2 {
        margin: 3rem;
      }
      .card {
        width: 50%;
        max-width: 900px;
        padding: 3rem;
      }
      .about-right {
        width: 40%;
      }
      .about-me {
        width: 100%;
        height: 50%;
        align-self: center;
      }
      .photo.top {
        display: none;
      }
    }
  }
}

// PROJECTS
.projects-container {
  background: linear-gradient(to bottom, #ffeab4, #bbca9b);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  .carousel-container {
    z-index: 2;
    width: 80%;
    margin: auto;
    margin: 3rem 0;
    max-width: 1800px;
  }
  .project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 2rem;
    height: 30rem;
    .project-img {
      height: 55%;
      min-height: 40%;
      width: 100%;
      border-radius: 0.3rem;
      align-self: center;
      margin-bottom: 0.8rem;
      border: 1px solid black;
    }
    .title-box {
      display: flex;
      justify-content: space-between;
      color: #59813a;
      .links {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: 0.5rem;
        font-weight: 700;
        font-family: $time-font;
        font-size: 1.3rem;
        a {
          display: flex;
          align-items: center;
          gap: 0.2rem;
        }
        svg {
          font-size: 0.7rem;
        }
      }
      h3 {
        font-size: 1.5rem;
        color: #59813a;
      }
    }
    .description {
      font-family: $body-font;
      flex-grow: 4;
    }
    .stack {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-self: center;
      padding: 0;
      margin: 0.5rem;
      li {
        font-family: $time-font;
        font-weight: 700;
        text-align: center;
        width: 5rem;
        border-radius: 0.6rem;
        margin: 0.2rem;
        background-color: #95ba78;
        color: #3c5429;
      }
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 800px) {
    .carousel-container {
      width: 95%;
    }
    .project {
      margin: 0.5rem auto;
      padding: 1.5rem;
      width: 95%;
      max-width: 25rem;
    }
    .stack {
      width: 100%;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 440px) {
    .title-box {
      display: flex;
      flex-direction: column;
    }
  }
  @media only screen and (min-width: 801px) and (max-width: 1024px) {
    .carousel-container {
      width: 50%;
    }
    .project {
      max-width: 25rem;
    }
  }
  @media only screen and (min-width: 1025px) {
    .carousel-container {
      width: 80%;
    }
  }
}

// WHY YOU
.why-you {
  background-color: #fef7e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-bottom: 2rem;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    h2 {
      margin-top: 2rem;
    }
  }
  @media only screen and (min-width: 768px) {
    h2 {
      margin-top: 4rem;
    }
  }
  .reasons-you-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .reasons-you-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: relative;
      .reason-you {
        margin: 1rem 0;
      }
      @media only screen and (min-width: 320px) and (max-width: 767px) {
        width: 80%;
        h3 {
          font-size: 1.5rem;
        }
      }
      @media only screen and (min-width: 768px) {
        width: 70%;
        h3 {
          font-size: 2rem;
        }
        p {
          font-size: 1.5rem;
        }
      }
    }
  }
}

// WHY ME
.why-me {
  background: linear-gradient(to bottom, #bbca9b, #87cee6);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  h2 {
    text-align: center;
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      width: 85%;
      margin: 2rem;
    }
    @media only screen and (min-width: 768px) {
      margin: 2rem 0;
    }
  }
  .reasons-me-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    .reasons-me-line {
      display: flex;
    }
    .reason-me {
      padding: 2.5rem;
      align-items: center;
      margin: 1rem;
      svg {
        width: 3rem;
        height: 3rem;
      }
      h3 {
        text-align: center;
        line-height: 1.5rem;
        margin: 1rem;
      }
      p {
        margin: 0.5rem 0;
      }
    }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .reasons-me-line {
        flex-direction: column;
        align-items: center;
        width: 90%;
      }
      .reason-me {
        padding: 1.5rem;
      }
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .reasons-me-line {
        flex-direction: column;
        align-items: center;
        width: 60%;
      }
    }
    @media only screen and (min-width: 1024px) {
      width: 70%;
    }
  }
  .bonus {
    display: flex;
    align-items: center;
    padding: 2rem;
    width: 45%;
    margin: 1rem;
    gap: 1rem;
    background-color: rgb(228, 200, 170);
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      width: 80%;
      padding: 1.5rem;
    }
  }
}

// SKILLS

.skills-wrapper {
  background: linear-gradient(to bottom, #87cee6, #cdb8e1);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.skills-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.45);
  padding: 4rem 0;
  border-top: 4px rgba(255, 255, 255, 0.7) solid;
  border-bottom: 4px rgba(255, 255, 255, 0.7) solid;
  margin: 4rem 0;
  h3 {
    padding-top: 1rem;
  }
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    li {
      img {
        width: 3rem;
        height: 3rem;
        margin: 0.5rem;
      }
    }
  }
}

// CALL TO ACTION
.call-to {
  position: relative;
  height: 20rem;
  .glow {
    z-index: 0;
    position: absolute;
    top: 10%;
    right: 10%;
    width: 80%;
    max-width: 60rem;
    opacity: 0.4;
    @media only screen and (min-width: 320px) and (max-width: 599px) {
      width: 100%;
      right: 0;
    }
    @media only screen and (min-width: 600px) and (max-width: 767px) {
      width: 90%;
      right: 0;
      top: auto;
      bottom: 0;
    }
  }
  .call-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    h1 {
      text-align: center;
    }
    .phone-container {
      background-color: #d09baf;
      color: $text-color;
      margin: 2rem;
      padding: 1rem 2rem;
      gap: 2rem;
      border-radius: 2rem;
      border: 4px solid rgba(255, 255, 255, 0.496);
      display: flex;
      align-items: center;
      transition: all ease 1s;
      overflow: hidden;
      font-size: 3.5rem;
      height: 6.5rem;
      h3 {
        white-space: nowrap;
        margin: 0;
        font-size: 2rem;
        line-height: 1.7rem;
      }
    }
    .phone-container.ringing {
      width: 8rem;
    }
    .phone-container.open {
      width: 24rem;
    }
    .phone-ring {
      transform: rotate(135deg);
      transition: all ease 1s;
    }
    .phone-noring {
      opacity: 0;
    }
    @keyframes fadeInLate {
      0% {
        opacity: 0;
      }
      20% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .phone-noring.fade-in-late {
      animation: fadeInLate 1s ease-in-out 1s forwards;
    }
    .phone-ring.spin-out {
      transform: rotate(0);
      position: absolute;
    }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      width: 80%;
      h1 {
        font-size: 2.5rem;
        line-height: 2rem;
        margin: 2rem 0;
      }
      .phone-container {
        flex-direction: column;
        font-size: 2.5rem;
        gap: 1rem;
        max-width: 200px;
        padding: 0.5rem;
        h3 {
          font-size: 1.5rem;
          line-height: 1.5rem;
        }
      }
      .phone-container.ringing {
        width: 70%;
        height: 5rem;
      }
      .phone-container.open {
        width: 70%;
        height: 9.5rem;
      }
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      width: 80%;
      height: 45rem;
      padding-top: 6rem;
      h1 {
        font-size: 4rem;
        margin: 2rem 0;
      }
    }
    @media only screen and (min-width: 1025px) {
      width: 70%;
      height: 40rem;
      padding-top: 6rem;
      h1 {
        font-size: 4rem;
      }
    }
  }
  p {
    color: rgba(255, 255, 255, 0.298);
  }
}
