// VARIABLES
$translucent-white: rgb(255, 255, 255, 0.8);
$opaque-white: #ffffff;
$light-purple: #b1a4d3;
$shadow-purple: #1e1431;

$night-gradient: linear-gradient(#2b1055, #7597de);

$text-color: $translucent-white;
$highlight-color: $opaque-white;
$title-font: "Comfortaa", cursive;

$main-background: $shadow-purple;

// GENERAL
body {
  background: $night-gradient;
}
ul {
  list-style-type: none;
}
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
button {
  border: none;
  font: inherit;
  font-family: inherit;
  cursor: pointer;
}

// NAV
.nav-wrapper {
  position: fixed;
  top: 0;
  z-index: 99;
  color: $text-color;
  width: 100%;
  padding: 2rem 3rem;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  font-family: $title-font;
  font-weight: 700;
  max-width: 1800px;
  .left-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      font-size: 3rem;
      padding-top: 0.3rem;
    }
    .logo:hover {
      color: $highlight-color;
    }
  }
  .nav-links {
    display: flex;
    padding: 0 1rem;
    .nav-item {
      padding: 0 2rem;
      font-size: 1.3rem;
    }
    .nav-item:hover {
      color: $highlight-color;
    }
    .nav-divider {
      font-size: 1.3rem;
    }
    svg {
      width: 0.7rem;
      padding-left: 0.2rem;
    }
  }
}

// HERO
.parallax-wrapper {
  position: relative;
  top: 0;
  width: 100%;
  height: 1000px;
  overflow: hidden;
}
.parallax-container {
  .parallax-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
    object-fit: cover;
    min-width: 100%;
  }
  .moon {
    mix-blend-mode: screen;
    top: 0;
  }
}
.parallax-container::before {
  // Gradient overlay effect
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(30, 20, 49, 255), transparent);
  z-index: 1;
}

// FOR TESTING
.placeholder {
  height: 100vh;
  background-color: $main-background;
}

// HAMBURGER MENU
.menu-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 98;
  height: 100vh;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(25, 14, 61, 1) 40%
  );

  @media only screen and (min-width: 320px) and (max-width: 767px) {
    width: 100%;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(25, 14, 61, 1) 30%
    );
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    width: 50%;
  }
  @media only screen and (min-width: 1025px) {
    width: 40%;
  }
}
.menu-wrapper.closed {
  opacity: 0;
}
